<!DOCTYPE html>
<html>
<head>
  <title>Nylon</title>
<<<<<<< HEAD
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
=======
  <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
>>>>>>> 7fcb213304da6a419e79152004fa6cb871fe3e60
  <%= csrf_meta_tags %>
</head>
<body>

	<%= link_to "home", root_path %>
	<%= link_to "about us", about_path %>
	<%= yield %>
<<<<<<< HEAD
    
=======

>>>>>>> 7fcb213304da6a419e79152004fa6cb871fe3e60
</body>
</html>
